// Переменные
@import 'vars'

//Стиль кнопок
//@import 'common/envato__btn'

//---------Стили секций--------

//Стиль верхнего меню и логотипа
@import 'sections/header'

//Секция с таймером, приветствием, формой, разделами и расписанием 
@import 'sections/title-banner'

//Секция приветствия 
@import 'sections/best-in-city'

//Секция envato elite с красным логтипом
@import 'sections/our-tariffs'

//Секция со спикерами
@import 'sections/we-do-best'

//Секция со спонсорами
@import 'sections/cab-mobile'

//Секция прошедшие события
@import 'sections/happy-clients'

//Footer
@import 'sections/footer'

//---------Стили общих блоков--------

//Стиль текстовых блоков
@import 'common/section__text'

//Стиль форм
@import 'common/cabHUB-btn'

//@import 'common/social_icons_shot_style'


html
    line-height: 1.2
    font-size: 18px
    
body 
    height: auto
    width: 100%
    margin: 0
    padding: 0

div
    display: block

h1
    margin: 0

p
    margin: 0

a
    text-decoration: none

.clearfix:after
    clear: both

.clearfix
    *zoom: 1

.bg__wrapper
    display: block
    top: 0
    left: 0
    z-index: 1 
    
.wrapper
    display: block
    margin: 0 auto
    position: relative 
    overflow: hidden
    left: center
    z-index: 6
    opacity: .99
    width: 100%

.section
    display: block
    background: transparent
    
.container
    position: relative
    overflow: visible 
    width: 95vw
    max-width: 1193px
    margin: 0 auto
    //padding: 0
    background: transparent

//Адаптивная верстка
//@import '_media'

