extends pug/layout/layout

block title
    | CabHUB

block header
    include pug/common/header
block title-banner
    include pug/sections/title-banner
block best-in-city
    include pug/sections/best-in-city
block our-tariffs 
    include pug/sections/our-tariffs
block we-do-best
    include pug/sections/we-do-best
block cab-mobile
    include pug/sections/cab-mobile
block happy-clients
    include pug/sections/happy-clients
block footer
    include pug/common/footer