@font-face{
	font-family: "BebasNeueBold";
	src: url("../fonts/bebas-neue-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "LatoBlack";
	src: url("../fonts/Lato-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "LatoRegular";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "LatoMedium";
	src: url("../fonts/Lato-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "LatoSemiBold";
	src: url("../fonts/Lato-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

