section.best-in-city
	.container
		.best-in-city__text-wrap
			.section-text
				p.l2 Best in city
				p.l1 Trusted Cab Servies in New York
				p.text-style Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris.
			.cabHUB-btn
				a(href="javascript:void(0);").cabhub-btn.btn-dark-grey Read more
		.best-in-city__form
			.form__title
				p Book a
				p &nbspCab
			ul.input__wrap
				li
					input(type="text" name="user_name" value="Name").form-item
				li
					input(type="text" name="user_phone" value="Phone").form-item
				li
					input(type="text" name="when" value="When").form-item
				li
					input(type="text" name="time" value="Time").form-item
				li
					input(type="text" name="start" value="Start").form-item
				li
					input(type="text" name="end" value="End").form-item
				li
					input(type="text" name="choose_vehicle" value="Choose Vehicle").form-item
			.best-in-city__btn
				a(href="javascript:void(0);") Submit