section.title-banner
	.section-text
		p.l2 Book cab now
		ul#phone-number.phone-number
			li
				p(alt="1").l1.wow +
			li
				p(alt="1").l1.wow 1
			li 
				p(alt="1").l1.wow 2
			li
				p(alt="1").l1.wow 3 
			li 
				p(alt="1").l1 &nbsp
			li
				p(alt="1").l1.wow 4 
			li
				p(alt="1").l1.wow 5
			li
				p(alt="1").l1.wow 6
			li
				p(alt="1").l1.wow 7
			li
				p(alt="1").l1 &nbsp
			li
				p(alt="1").l1.wow 8
			li
				p(alt="1").l1.wow 9
			li
				p(alt="1").l1.wow 0
			li
				p(alt="1").l1.wow 0
		p.l3 www.cabhub.com
	img(src="img/title-banner-bmw.png").title-banner-bmw
