footer
	.container.footer-container
		.footer__item
			p.l3 About cab hub
			p.text-style Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu.
			.social-icons-shot
				<!--a(href="javascript:void(0);")-->
					<!--img(src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUBAMAAABGwLFlAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEX/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhoAAAA3wzmUAAAADnRSTlMAEURmVe67zJlednf9qlAkizUAAAABYktHRA8YugDZAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4QwUFTYsqm7TQwAAAD5JREFUCNdjYGBgVHZiYGAwffeOgYHpHYhkA5Os7wqBwnzvGmDkrH3vqjcz1AAln4HJt2DyNYoaokju3QoMADymKTo/Ez4jAAAAAElFTkSuQmCC")-->
				<!--a(href="javascript:void(0);")-->
					<!--img(src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAASCAMAAAByxz6RAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEX/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhoAAAC0h9b1AAAAD3RSTlMAETNEZrvdd8wi7lWqmYhlhzSJAAAAAWJLR0QQlbINLAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+EMFBU6GCdvaPoAAACSSURBVBjTbZFbFoAgCETxbamx/902mHoK40eP14EBiHoY6wz9hQ+MiGkDpgOJfCgSJ+FTIdHEYsgFTZwkeiwskkKQowKp39SY5TiZ6xdcDdVbswSRl4fhBJmGLa9RXqhQZr6+qlXrgvVXH+mFDnxtDym42t5QStMpBwzXQq/NrhHukzJ1kqh7R5GxlN+VYZWb4gasoglhseBZjQAAAABJRU5ErkJggg==")-->
				<!--a(href="javascript:void(0);")-->
					<!--img(src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAMAAADeWG8gAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEX/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhoAAAC0h9b1AAAAD3RSTlMAEWZ3VYhE7rvdM6oimcyK3CxHAAAAAWJLR0QQlbINLAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+EMFBU5B4FKNswAAABnSURBVBjTXc/REgARCAXQSFYW/f/friwNejFOdxIAK+cx6AFAU+IjIonYQZbXjYyKInYS1nyQST2gXaaIk3q3kByldArr3HRQHU+1nSLcsTZ33CivvS3n4Sb878g2J65MwdQ/0KrBB+7XCSX6Ds7oAAAAAElFTkSuQmCC")-->
				<!--a(href="javascript:void(0);")-->				
					<!--img(src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAMAAACKJ8VmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAP1BMVEX/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhr/xhoAAAA914LpAAAAE3RSTlMAEXeZu6oiVe4z3UTMZoh2mLqp12MvEQAAAAFiS0dEFJLfyTUAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhDBQVOwAtGMHtAAAAlElEQVQY02WQCw7DIAxDHRogZP1s8/3vugBrV2lPAgnjOFEASFp0klNBUI03KtDoVTCRh7MhxznJ3pjhNkp11QpncYev/XNkZClQwhXYuDYUZcKpuI1ss0uhjmClXB4fiv88iUsIS7+/iihNjatMZVQkp+89Pp497kY02fsUFxt3iHHuICib9cn+thGdjudr8j7C/QHW0AfqmwZt4AAAAABJRU5ErkJggg==")-->
		.footer__item
			p.l3 Download
			p.text-style Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
			a(href="javascript:void(0);").text-style.andriod-user Android User
			a(href="javascript:void(0);").text-style.ios-user IOS User
		.footer__item
			p.l3 Contact
			p.text-style.text-style__address 123, Main Street, Your City, New York, USA 789456
			a(href="tel:+123 4567 8900").text-style.text-style__phone +123 4567 8900
			a(href="mailto:cubhub@cubhub.com").text-style.text-style__email cubhub@cubhub.com
			a(href="www.cubhub.com").text-style.text-style__www  www.cubhub.com
	.cabhub-copyright
		p.text-style.cabhub-copyright__text Copyright © 2017 www.cubhub.com