header
	.header__wrap
		ul.cabHUB-logo-wrap
			li
				p Cab
				p HUB
			li 
				p call and relax
		nav.main-nav
			ul.cabHUB-nav
				li
					a(href="javascript:void(0);") Home
				li
					a(href="javascript:void(0);") About
				li 
					a(href="javascript:void(0);") Features
				li
					a(href="javascript:void(0);") Blog
				li
					a(href="javascript:void(0);") Order Now
				li
					a(href="javascript:void(0);") Contacts