.cabHUB-btn
    display: block
    margin: 0 auto
    //padding-top: 21px 
    //padding-bottom: 21px
    //border-radius: 14px
    text-align: center
    //color: $darkGrey
    font-family: $BebasNeueBold
    font-size: 1.571em

.btn-yellow
    background: $yellowColor
    border-radius: 7px
    padding: 15px 33px 12px 33px
    color: $darkGrey
    
    &:hover
        -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
        -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
        box-shadow: 1px 1px 5px rgba(0,0,0,0.4) 
        
    &:active
        background: $semiDarkGrey
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
        box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
        border-color: #a9db80
    
.btn-dark-grey
    background: $darkGrey
    border-radius: 7px
    padding: 15px 33px 12px 33px
    color: $whiteColor
    
    &:hover
        -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
        -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
        box-shadow: 1px 1px 5px rgba(0,0,0,0.4) 
        
    &:active
        background: $semiDarkGrey
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
        box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset
        border-color: #a9db80
