//Общий стиль форм: форма Sign up и форма Send Message
.envato__form
    display: flex
    flex-direction: column
    align-items: center       
    
.envato_form_title
    display: block
    margin: 35px auto 15px auto
    font-size: 2em
    font-family: $robotoBlack
    color: $textColorGrey
    align-text: center
    
.envato_text_feilds
    list-style: none
    padding: 0
    margin: 0 auto
    //padding: 0 30px 0 30px
    
    li
        display: block
        
    input
        width: 95%
        margin-top: 9px
        margin-bottom: 9px
        padding-top: 17px  
        padding-bottom: 17px 
        padding-left: 15px
        border: 1px solid $borderGrey
        border-radius: 3px
        font-size: 1.286em
        font-family: $robotoLight
        color: $borderGrey

        &:focus
            outline: none !important
            border-color: $greenColor
            box-shadow: 0 0 3px $greenColor
            color: $textColorGrey
    
    textarea
        border: 1px solid $borderGrey
        font-size: 1.286em
        font-family: $robotoLight
        color: $borderGrey
        
        &:focus
            outline: none !important
            border-color: $greenColor
            box-shadow: 0 0 3px $greenColor
            color: $textColorGrey
           
.envato_form_btn
    width: 86% 
    margin-left: auto
    margin-right: auto
    text-align: center
    border-radius: 3px
    padding-top: 21px 
    padding-bottom: 21px
    font-size: 1.500em
    font-family: $robotoBold 
    
    a
        color: $whiteColor
      
        

      
   