.section__text
    display: block
    
.l1
    display: block
    font-size: 2.000em
    font-family: $LatoBlack
    text-transform: uppercase

.l2
    display: block
    font-size: 1.444em
    font-family: $LatoBlack
    text-transform: uppercase
    
.l3
    display: block
    font-family: $LatoBlack
    text-transform: uppercase

.text-style
    display: block
    font-family: $LatoRegular
    
.price
    color: $yellowColor
    font-family: $LatoBlack
    font-size: 2.056em
    
