.best-in-city
    display: flex
    align-items: flex-start
    width: 100%
    padding-top: 150px
    background: $yellowColor
    
    .container
        margin-top: 54px

    .cabHUB-btn
        margin-top: 80px
        position: relative

        a
            position: absolute
            left: 0
    
.best-in-city__text-wrap
    display: inline-block
    width: 64.54%
    padding-bottom: 133px
    
    .section-text
        position: relative
        width: 70%
    
.best-in-city__form
    display: inline-block
    position: absolute
    width: 35%
    background: $whiteColor
        
.form__title
    display: flex
    width: 100%
    padding-top: 16px
    padding-bottom: 16px
    background: $darkGrey
    text-transform: uppercase
    
    p
        display: inline-block
        font-family: $LatoBlack
        font-size: 1.389em
        
        &:first-child
            color: $whiteColor
            margin-left: 38px
            
        &:last-child
            color: $yellowColor

.input__wrap
    display: flex
    flex-wrap: wrap
    list-style: none
    margin-top: 35px
    padding-left: 36px
    width: 100%
    
    li
        width: 41%  
        
        &:nth-child(odd)
            margin-right: 12px      
            
        &:last-child
            width: 85% 
            margin-right: 0
            
        input
            font-family: $LatoSemiBold
            font-size: 1em
            width: 100%
            
            &::nth-child(odd)
                color: $darkGrey
        
            &::nth-child(even)
                color: $semiDarkGrey
            
.form-item
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 2px solid $lightGrey
    outline: 0 !important
    outline-offset: 0 
    margin-bottom: 15px
    padding-bottom: 6px

.best-in-city__btn
    margin-left: 36px
    width: 85%
    margin-bottom: 18px
    margin-top: 30px
    text-align: center
    background: $darkGrey
    font-family: $BebasNeueBold
    font-size: 1.571em
    padding-top: 15px
    padding-bottom: 12px
    border-radius: 7px
    
    a
        display: block
        margin: 0 auto
        color: $whiteColor
    

