.happy-clients
    display: flex
    justify-content: center
    width: 100%
    height: 690px
    position: relative
    background: url(../img/happy-clients-bg.jpg)
    background-position: 0 0
    background-repeat: no-repeat
    background-size: cover
    z-index: 4
    
    .container
        position: relative
    
    .section-text
        width: 100%
        text-align: center
        padding-top: 110px
        padding-bottom: 103px
        
        .l2
            color: $yellowColor
            padding-bottom: 20px
            
        .l1
            color: $whiteColor
 
.slider-box__happy-clients
    position: absolute
    width: 1193px
    height: 280px
    top: 300px
    overflow: hidden
    margin: 20px auto
    z-index: 5

.happy-clients-container
    position: relative
    width: 20000px
    height: 232px
    z-index: 5
    //display: flex
    //justify-content: space-between
    //flex-direction: row

    .client-feedback
        width: 470px
        height: 232px
        float: left
        border-radius: 40px
        background: $feedbackColor
        //-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 76% 100%, 70% 120%, 70% 100%, 0% 100%)
        //clip-path: polygon(0% 0%, 100% 0, 100% 100%, 76% 100%, 70% 120%, 70% 100%, 0% 100%)
        padding-top: 42px
        padding-left: 42px//52px
        padding-right: 45px//65px
        margin-right: 40px//50px
        z-index: 9
                
        .text-style
            padding-bottom: 20px
            color: $whiteColor
            
    .client-feedback:after
        display: block
        border-color: rgba(194, 225, 245, 0)
        border-bottom-color: #FF4040
        border-width: 10px
        margin-left: -10px

    .client-info
        display: flex
        flex-direction: row
        justify-content: flex-start
        padding-bottom: 80px
        
        img
            padding-right: 20px
            z-index: 5
            
    .client__name
        color: $yellowColor
        
    .client__occupation
        color: $whiteColor


.we-are-ready
    width: 100%
    background: $yellowColor
    padding-top: 73px
    text-align: center
    
    .l2
        padding-bottom: 37px
    
    .l1
        padding-bottom: 90px
        font-size: 3.333em
    
