header
    width: 100%
    position: absolute
    top: 0
    left: 0
    padding: 44px 0 0 0  
    z-index: 2

.header__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 auto
    align-items: center
    width: 90%
    max-width: 1600px
    
    ul
        list-style: none
           
.cabHUB-logo-wrap
    display: inline-block
    //width: 320px
    vertical-align: middle
    font-family: $LatoBlack
    padding-left: 0
    
    li
        display: block
        
        &:first-child
            font-size: 1.611em

            p:first-child
                display: inline-block
                color: $whiteColor
                
            p:last-child
                display: inline-block
                color: $yellowColor
                text-transform: uppercase
        
        &:last-child
            font-size: 0.611em
            color: $whiteColor
            text-transform: uppercase
            letter-spacing: 2px

.main-nav
    display: inline-block
    vertical-align: middle 
    width: 60%
    
.cabHUB-nav
    display: block
    //align-items: right
    width: 100%
    vertical-align: middle
    padding-left: 0
    list-style: none
    font-family: $LatoBlack
    text-transform: uppercase
    font-size: 0.667em

    li
        display: inline-block
        padding: 10px 23px 
        //vertical-align: middle
        a
            color: $whiteColor
        
        &:hover
                background: $yellowColor
                border-radius: 30px
                
                a
                    color: $blackColor

    
        
    

