.title-banner
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: 730px
    background: url(../img/title-banner-bg.png) 0 0
    background-repeat: no-repeat
    background-size: cover
    z-index: 1
    
    .section-text
        display: block
        padding-top: 160px 
        padding-bottom: 65px
        margin: 0 auto
        text-align: center
        color: $whiteColor
        text-transform: uppercase
        font-family: $LatoBlack
        
        .l2
            font-size: 1.444em
            margin-bottom: 20px
            color: $yellowColor
        .l1
            font-size: 3.000em
            margin-bottom: 30px
        .l3
            font-size: 0.833em
            letter-spacing: 10px      

.title-banner-bmw
    position: relative
    margin: 0 auto
    z-index: 2

.phone-number
    list-style: none
    padding-left: 0

    li
        display: inline-block
        height: 40px
        
    
