.we-do-best
    width: 100%
    background: url(../img/we-do-best-bg.jpg)
    background-position: 0 0
    background-repeat: no-repeat
    background-size: cover

    .cabHUB-btn
        padding-bottom: 75px
    
    .section-text
        padding-top: 80px
        text-align: center
        
        .l2
            color: $yellowColor
            
        .l1
            color: $whiteColor

.we-do-best__items
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
    padding-left: 18px
    padding-top: 100px
    padding-bottom: 70px
    
    .we-do-best__item
        width: 50% 
        padding-bottom: 100px
        
        img
            display: inline-block
            position: relative
            top: 0
            left: 0
            padding-right: 35px
            
        .l3
            display: inline-block
            color: $yellowColor
            width: 61%
            
.item1:after
    content: 'Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.'
    display: block
    color: $whiteColor
    font-family: $LatoRegular   
    text-transform: none
    padding-top: 20px
            
.item2:after
    content: 'Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.'
    display: block
    color: $whiteColor
    font-family: $LatoRegular   
    text-transform: none
    padding-top: 20px

.item3:after
    content: 'Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.'
    display: block
    color: $whiteColor
    font-family: $LatoRegular   
    text-transform: none
    padding-top: 20px

.item4:after
    content: 'Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.'
    display: block
    color: $whiteColor
    font-family: $LatoRegular   
    text-transform: none
    padding-top: 20px
        